
/**
        DARK THEME
 */
* {
    -fx-text-primary: #FFFFFF;
    -fx-primary: #000000;
    -fx-secondary: #FFA200;
    -fx-check-color: #FFA200;
}

.root{
    -fx-background-color: -fx-primary;
}



/**
    List View
  */

.list-view{
    -fx-background-color: -fx-primary;
}

.list-cell{
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-text-primary;
}

.list-cell:selected{
    -fx-text-fill: -fx-secondary;
}

.list-cell > .jfx-rippler{
    -jfx-rippler-fill: -fx-secondary;
}


/**
  Label
 */

.label{
    -fx-text-fill: -fx-secondary;
}



/**
    Bottone semplice
 */
.button{

    -fx-text-fill: -fx-text-primary;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

/*  Quando si preme il bottone cambia colore */
.button:hover{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

/**
    Text Field Style
 */

.text-field{
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}



/**
    Text Area Style
 */

.text-area{
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}


/**
    CheckBox Style
 */
.check-box{
    -jfx-checked-color: -fx-check-color;
}


/**
    Tab Pane Style
 */

.tab{
    /* tab size */
    -fx-pref-width: 150;
    -fx-pref-height: 30;

    /* tab color background */
    -fx-background-color:  -fx-secondary;

}

/* Serve per colorare anche quella parte della barra in cui non ci sono tab effettive */
.tab-header-background{
    /* tab color background */
    -fx-background-color:  -fx-secondary;
}

/*  Serve per colorare e impostare la dimensione del testo */
.tab-label{
    -fx-text-fill: -fx-text-primary;
    -fx-font-size: 10pt;
}

/* Cambia il colore alla linea di selezione del tab */
.tab-selected-line{
    -fx-background-color:  -fx-text-primary;
}

/*  Cambia il colore alla selezione della tab   */
.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill:-fx-text-primary;
}

/**
    Scroll Bar & Scroll Pane
 */

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane{
    -fx-background-color: -fx-primary;
}

.scroll-bar{
    -fx-background-color: -fx-primary;
}

.corner {
    -fx-background-color: transparent ;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: -fx-secondary;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal .thumb{
    -fx-background-color: -fx-secondary;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal .decrement-arrow{
    -fx-background-color: -fx-secondary;
}

.scroll-bar:horizontal .increment-arrow{
    -fx-background-color: -fx-secondary;
}

.scroll-bar:horizontal .decrement-button{
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .increment-button{
    -fx-background-color: transparent;
}

.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: -fx-secondary;
}

.scroll-bar:vertical .increment-arrow{
    -fx-background-color: -fx-secondary;
}

.scroll-bar:vertical .decrement-button{
    -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-button{
    -fx-background-color: transparent;
}
/**
    Split Pane
 */

.split-pane{
    -fx-background-color: -fx-primary;
}

.split-pane-divider {
    -fx-background-color: -fx-secondary;
}


/**
    Choice Box
 */
.choice-box .context-menu {
    -fx-background-color: -fx-primary;
}

.choice-box .menu-item:focused {
    -fx-background-color: -fx-secondary;
}

.choice-box .menu-item > .label {
    -fx-text-fill: -fx-text-primary;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: -fx-primary;
}

.choice-box {
    -fx-background-color: -fx-primary;
    -fx-mark-color: -fx-secondary; // arrow color
}

.choice-box > .label {
    -fx-text-fill: -fx-text-primary;
}

